[submodule "src/pixhawk/px4_msgs"]
	path = src/pixhawk/px4_msgs
	url = https://github.com/PX4/px4_msgs
[submodule "src/pixhawk/uros/micro_ros_msgs"]
	path = src/pixhawk/uros/micro_ros_msgs
	url = https://github.com/micro-ROS/micro_ros_msgs
[submodule "src/pixhawk/uros/micro-ROS-Agent"]
	path = src/pixhawk/uros/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent
